@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
@media screen (max-width: 1600px) {
  .header {
    background: yellow;
  }
}
.header {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: black;
}

#logoHead{
position: absolute;
width: 82px;
height: 52px;
left: 0px;
top: -14px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
color: #FFFFFF;

text-align:center;

}

#bamboo{
position: absolute;
width: 7.03px;
height: 20.98px;
left: 13.23px;
top: 24.64px;

}

.logo{
  box-sizing: border-box;

  margin: 14px 220px 1298px;

position: absolute;
width: 82px;
height: 52px;
left: 0px;
top: 0px;

border: 1px solid #FFFFFF;
border-radius: 2px;
}

.about{
position: absolute;
width: 43px;
height: 22px;
left: 365px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
color: #FE9013;
}

.map{
  position: absolute;
width: 32px;
height: 22px;
left: 466px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: white
}

.zoos{
  position: absolute;
width: 36px;
height: 22px;
left: 556px;
top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;


color: #FFFFFF;
}

.donate{
position: absolute;
width: 51px;
height: 22px;
left: 650px;
top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;


color: #FFFFFF;

}

.contactUs{
  position: absolute;
width: 78px;
height: 22px;
left: 759px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;


color: #FFFFFF;
}

.desined{
  position: absolute;
width: 105px;
height: 22px;
left: 1275px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;


color: #FFFFFF;
}
.panda{
  position: absolute;
  width: 100%;
  height: 780px;
  left: 0px;
  right: 0px;
  top: 80px;
  size: 100%;
}

.circle{
position: absolute;
width: 465px;
height: 465px;
left: 1000px;
top: 92px;
border-radius:300px;

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.watch{
  position: absolute;
width: 500.31px;
height: 400px;
left: 1050px;
top: 66px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 106.496px;
line-height: 75%;

text-align: center;

color: #FFFFFF;
}

.yellow{
  color: #FFEE2E;
}

.button_1{
position: absolute;
width: 298px;
height: 54px;
left: 1100px;
top: 606px;

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
}

.textBTN1{
position: absolute;
width: 292px;
height: 22px;
left: 5px;
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.section{
  position: absolute;
  height: 403px;
  left: 219px;
  right: 220px;
  top: 1147px;
  
}

#bamboo-cap{
position: absolute;
width: 609px;
height: 403px;
left: 0px;
top: 0px;

background: url(bamboo-cap-4767687_1920.jpg);
backdrop-filter: blur(2px);
}

.textninja1{
position: absolute;
height: 116px;
left: 696px;
right: 0px;
top: 0px;
margin: 0;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;


color: #333B41;

}

.textninja2{
  position: absolute;
height: 42px;
left: 696px;
right: 0px;
top: 136px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;


color: #333B41;
}

.textninja3{
position: absolute;
width: 217px;
height: 29px;
left: 696px;
top: 232px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;


color: #333B41;

}


.textninja4{
  position: absolute;
  height: 105px;
  left: 696px;
  right: 0px;
  top: 295px;
  
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  
  color: #333B41;
  
}

#flower{
position: absolute;
width: 293px;
height: 605px;
left: 1680px;
top: 1000px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}